@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.owl-theme .owl-dots {
  margin-top: 10px;
  text-align: center;
}
